RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Trigger existing 404 error for .env file access
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^\.env$ /404 [L]
</IfModule>

<Files *.php>
    Deny from all
</Files>

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>