.right-sidebar {

    .content-area {
        float: left;
        width: 70%;

        .post {
            border: 0.063rem dotted #000000;
            border-bottom: 0.063rem solid #000000;
            margin-top: 1.125rem;
            padding: 1.125rem;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .widget-area {
        float: right;
        width: 28.59375%;

        .widget {
            border: 0.063rem dotted #000000;
            border-bottom: 0.063rem solid #000000;
            padding: 1.125rem;
            font-size: 14px;
            margin-top: 1.125rem;

            &:first-child {
                margin-top: 0;
            }


            .widget-title {
                margin: 0;
                padding: 0;
            }

            ul {
                list-style-type: none;
                margin-top: 1.125rem;
                padding: 0;

                li {
                    line-height: 1.8rem;
                }
            }
        }
    }
}

.related-themes {
    margin-bottom: 1.125rem;

    .content-area {
        margin: 0 auto;
        max-width: 1244px;

        .grid-items {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1.125rem;
            list-style-type: none;
            margin: 0;
            padding: 0;

            .grid-item {
                border: 0.063rem dotted #000000;
                border-bottom: 0.063rem solid #000000;
                padding: 1.125rem;
                position: relative;

                .caption {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.8); // Darker semi-transparent background for better readability
                    text-align: center;
                    padding: 0.5rem;

                    .entry-title {
                        margin: 0;
                        padding: 0;
                        
                        a {
                            color: #ffffff;
                            text-decoration: none;
                        }
                    }

                    span {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}